version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}", "-h", "db"]
      interval: 5s
      timeout: 3s
      retries: 5

  migrate:
    image: migrate/migrate:v4.17.1
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations:ro
    command: [
      "-path=/migrations",
      "-database=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable",
      "-verbose",
      "up"
    ]
    restart: "no"

  app:
    build: .
    environment:
      - CONFIG_PATH=${CONFIG_PATH}
      - DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?sslmode=disable
    depends_on:
      migrate:
        condition: service_completed_successfully
    ports:
      - "8081:8080"

  e2e-tests:
    build:
      context: .
      dockerfile: Dockerfile.e2e
    environment:
      - E2E_BASE_URL=${E2E_BASE_URL}
    depends_on:
      app:
        condition: service_started
